<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>500</title>
</head>

<body>
<div>
    <table>
	    <tr>
	    	<td width="80 "height="40" class="code">500</td>
	    	<td width=220 height=40 class="codeNm" > 
	    		시스템 에러
	    	</td>
	    </tr>
	    <tr>
	    	<td height='4' bgcolor='darkblue'></td>
	    	<td height='4' bgcolor='lightgray'></td>
	    </tr>
	    <tr>
	    	<td height='100' colspan='2'  class="comment">
		    	{{timestamp}}<br/>
				{{status}}<br/>
				{{error}}<br/>
				{{message}}<br/>
				{{exception}}<br/>
				{{trace}}
	    	</td>
	    </tr>
    </table>
</div>
</body>
</html>